@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
*{
    padding: 0%;
    margin: 0%;
}

body{
  background-color:black;
    background-image: url("https://images.cdn1.stockunlimited.net/thumb450/galaxy-background-design_2001751.jpg");
   background-size: cover;
   background-repeat:repeat-y;
}

.image-styles{
    height:65vh;
    width:100vh;
    
}

.padi{
    padding-top:3%;
    margin: auto;
    height:40%;
    width:70%;
}

.header{   
    height: 13%;
    text-align: center;
}

.header span{
    padding-left: 28%;
    color: transparent;
    font-family:'Josefin';
    font-size:6em;
    background-image: linear-gradient(to left,#e02c2c,#5834db,#7a209e,#7d0463);
    -webkit-background-clip: text;
    animation: dynamic 6s linear infinite;
    -webkit-background-size:500% ;
    background-size: 500%;
}

@keyframes dynamic {
    0%{
        background-position: 0 100%;
    }

    50%{
        background-position: 100% 0;
    }

    100%{
        background-position: 0 100%;
    }
  }

.about,.event-flow,.about-speaker,.problem-statements{
    
    margin-left: 5%;
    margin-right:5%;
    margin-bottom: 3%;
   color: white;
}


.about ul,.event-flow ul,.about-speaker,.problem-statements ul{
    list-style-type: disc;
    margin-bottom:3%;
    font-family:'Josefin' ;
    font-size:4em;
    color: transparent;
    background-image: linear-gradient(to left,#629778,#567990,#944f7b,#b3be36);
    -webkit-background-clip: text;
    animation: dynamic 6s linear infinite;
    -webkit-background-size:500% ;
    background-size: 500%;
}

.about p{
    
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    padding-left: 0.2%;
}

td, th {
  padding: 5px;

  border: 1px solid;
}

table {
  align-self: center;
  width: 50%;
  margin-left: 20%;
  border-collapse: collapse;
  box-shadow: i;
  box-shadow: 0px 10px 20px 2px rgba(56, 24, 183, 0.7);
}
.styles {
    border: 3px solid rgb(21, 2, 2);
    border-collapse: collapse;
    border-radius: 10px;
    padding: 10px;
    margin:auto;
    font-size:30px;
}

.table {
    width: 80px;
}

.th1 {
    height: 60px;
    font-family: "Times New Roman";
    font-size: 30px;
    color: rgb(17, 2, 2);
}

.nav {
    font-size: 200px;
}

.td1 {
    text-align: center;
    font-size: 18px;
    font-family: "Roboto";
}
#heading {
    margin-left: 10px;
    color: blueviolet;
  }
  
  #speakerAbout,
  #sponsorAbout,
  #cashflowshow,
  #addMerchandiseshow {
    padding:0px 70px;
    font-size: 18px;
  }
  
  #speaker,
  #sponsor,
  #cashflow,
  #merchandise {
    font-size: 20px;
    cursor: pointer;
    margin: 15px 0;
    padding: 0px 50px;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
  }
  ul {
    margin: 0;
  }
  ul.dashed {
    list-style-type: none;
  }
  ul.dashed > li {
    text-indent: -5px;
  }
  ul.dashed > li:before {
    content: "- ";
    text-indent: -5px;
  }
  
  body {
    font-family : 'Roboto', sans-serif;
  }
  .margin{
    margin-right:40px;
    margin-bottom: 15px;
  }
  .spot{
    position:relative;   
    bottom:7px;
  }
  .gravitas{
    float: right;
    height: 13%;
    width:25%;
  }
  .problem{
    padding-bottom: 50px;
    text-align:justify;
  }