@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* .conatiner img
{
  size: 1535px 735px; 
}*/



.why{
   background-image: linear-gradient(to bottom,rgb(10, 14, 39), rgb(63, 79, 187));
   background-size: cover;
   background-blend-mode: lighten;
   background-repeat: no-repeat;
   background-position-x: center;
   background-position-y:bottom;
   width: auto;
   margin-top: 1.5rem;
}

.container1{
   height:auto;
   width: auto;
   align-items:center;
   justify-content: center;
   padding: 2rem 12rem;
   margin-left: 1rem;
   color:white;
   text-align: justify;
   font-family: Montserrat;
   font-weight: 700;
   
}

.container1 h3{
    padding-bottom: 1rem;
    font-size: 4rem;
}


.container1 h5{
    font-size: 1.5rem;
    line-height: 1.6rem;
}

/*----guidelines ---*/
.container2{
    background-image: linear-gradient(to bottom,rgb(1, 2, 2), rgb(33, 46, 165),rgb(10,0,0));
    height: auto;
    width: auto;
  }
  
  .guide{
    height:auto;
    width: auto;
    align-items:center;
    justify-content: center;
    padding: 2rem 12rem;
    color:white;
    text-align: justify;
    font-family: Montserrat;
}

.container2 h3{
    padding-bottom: 1rem;
    font-size: 4rem;
}


/*----clouds ----*/
.clouds {
  position: relative;
  color: #000;
}


.text{       
   position:absolute;
   font-size: 1rem;
   font-weight:700;
   top: 7.7rem;
   left: 13.2rem;
   font-family:'monaco';
 }

 .text1{
    position:absolute;
    text-align: center;
    font:1rem;
    font-weight:700;
    top: 17.9rem;
    left: 3rem;
    font-family:'monaco';
  }


  .text2{
    position:absolute;
    text-align: center;
    font:1rem;
    font-weight:700;
    top: 28.6rem;
    left: 10.6rem;
    font-family:'monaco';
  }
  .text3{
    position:absolute;
    text-align: center;
    font:1rem;
    font-weight:700;
    top: 33.2rem;
    right: 36.8rem;
    font-family:'monaco';
  }
  .text4{
    position:absolute;
    text-align: center;
    font:1rem;
    font-weight:700;
    top: 30rem;
    right: 14.4rem;
    font-family:'monaco';
  }
  .text5{
    position:absolute;
    text-align: center;
    font:1rem;
    font-weight:700;
    top: 8.3rem;
    right: 12rem;
    font-family:'monaco';
  }
  .text6{
    position:absolute;
    text-align: center;
    font:1rem;
    font-weight:700;
    top: 20.3rem;
    right: 2.7rem;
    font-family:'monaco';
  }
  .text7{
    position:absolute;
    text-align: center;
    font:1rem;
    font-weight:700;
    top: 4.5rem;
    left: 37rem;
    font-family:'monaco';
  }

  /*----timeline---*/
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 35px;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 8px;
    background-color: black;
    top: 105px; /*to move the  vertical rule up and down along with the containers */
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .containernew {
    padding: 24px 50px; /* padding to decide the gap between two containers */
    position: relative;
    background-color: inherit;
    width: 50%;
    display:block;
    top:-30px; 
    
  }
  
  /* The circles on the timeline */
  .containernew::after {
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    right: -23px;
    background-color: #C4C4C4;
    border: 5px solid black;
    top: 100px; /*15px*/
    border-radius: 50%;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  
  /* Place the container to the left */
  .left {
    left: 0px;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  
  
  
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -21px;
  }
  
  /* The actual content */
  .content {
    padding: 22px 30px;
    background-color: #3C4EAE;
    position: relative;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
   
}
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
      
    }
  
  
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }
  /* Button */
  .buttonone{
    background-color: #3C4EAE;
    font-size: 18px;
    
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width:420px;
    padding: 30px 30px;
    font-size: 50px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}
/*--- contact us ---*/
.contact{
  text-decoration:none;
  color:white;
  
  }
  .contact:hover{
    color:lightgreen;
  }
   
    /*background: #380636;*/
 

 .my-row2 p{
    margin-bottom: 0 !important;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

p a{
    text-decoration: none;
    color: #F2C548;
}
  

@media (max-width:767px){
 .why{
     margin-top: 22rem;
     height: auto;
     width: auto;
 }

 .container1{
     padding: 2rem 5rem;
     margin: 0rem;
 }

 .container2{
    height: auto;
    width: auto;
  }
  

 .guide{
    padding: 2rem 5rem;
    
}


}

@media (max-width: 430px){
    .why{
        margin-top: 19rem;
        height: auto;
        width:  auto;
    }

    .container1{
        padding: 2rem 2rem;
       
    }

    .container1 h3{
        font-size: 2rem;
    }

    .container1 h5{
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .container2{
        height: auto;
        width: auto;
      }
      
    
     .guide{
        padding: 2rem 2rem;
    }

    .container2 h3{
        font-size: 2rem;
    }

    .container2 h5{
        font-size: 1rem;
        line-height: 1.1rem;
    }
}